<html>
    <body>                   
        <h1>Upload an image</h1>
        <hr>
        <form action="/upload" method="post" enctype="multipart/form-data">            
            <label>Select image</label>
            <div>
                <input type="file" name="image" id="image">
                <label for="image">Select image...</label>
            </div>            
            <button type="submit">Upload</button>
        </form>
    </body>
</html>